body {
    background: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 250px;
}
.yazmaEfekt {
    margin-top: 10px;
    padding-left: 15px;
    width: 220px;
}
h2{
    font-family: 'Architects Daughter', cursive;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    margin: 0 auto;
    animation: closed 1.5s 1, typing 3.5s steps(18, end) 1.5s,YazmaCubuk .75s steps(18) 6 1.5s;
}
.foto {
    margin-top: 50px;
    animation: opacity 2s 1, scroll 1.5s 1;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes YazmaCubuk{
    from, to { 
        border-right: 2px solid white;
        border-color: transparent
    }
    50% { border-color: white; }
}
@keyframes kapat{
    from,to{
        border-right: 0px;
    }
}
@keyframes closed{
    from ,to{
        opacity: 0;
    }
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scroll{
    from{
        margin-top: 0px;
    }
    to{
        margin-top: 50px;
    }
}